header {
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.navbar button {
    margin: 25px;
}

.joia {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.opcoes {
    display: flex;
    gap: 80px;
    list-style: none;
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.opcoes:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.carrossel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carrossel img {
    max-width: 250px;
    height: 350px;
    padding: 20px;
}

.slide {
    padding: 15px;
    border: 0.5px solid black;
}

footer {
    background-color: maroon;
    display: block;
}

.but {
    color: white;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.barra:focus-within {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.pesquisa {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 100%;
}

.butao-pesquisa {
    border: none;
    background: none;
    cursor: pointer;
    color: #555;
}

.redes {
    max-height: 25px;
    max-width: 25px;
}